:root {
  --color-red: hsl(14, 86%, 42%);
  --color-black: hsl(14, 65%, 9%);
  --color-white-50: hsl(20, 50%, 98%);
  --color-white-100: hsl(13, 31%, 94%);
  --color-gray-200: hsl(14, 25%, 72%);
  --color-rose-500: hsl(12, 20%, 44%);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  opacity: 0.5;
  z-index: 0;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 15px;
  margin: 15px;
  gap: 40px;
}

h2 {
  text-align: left;
  color: var(--color-red);
  font-weight: 800;
}
.p-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
.p-list li {
  display: block;
  width: 30%;
  margin-bottom: 1rem;
}
.p-box {
  margin-bottom: 2rem;
  position: relative;
}
.p-box-relative {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.p-cart {
  position: relative;
}
.cart {
  position: absolute;
  border: 1px solid var(--color-black);
  width: 160px;
  height: 35px;
  line-height: 35px;
  border-radius: 50px;
  top: -28px;
  left: -83px;
  backface-visibility: hidden;
  transition: all 0.5s ease-in;
  padding: 5px;
}
.p-cart-front {
  background-color: var(--color-white-50);
  cursor: pointer;
}
.fa-cart-shopping {
  color: var(--color-red);
  margin-right: 5px;
}

.p-cart-back {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-red);
  transform: rotateY(180deg);
  border: 1px solid var(--color-red);

  cursor: pointer;
}
.p-cart-back button {
  align-items: center;
  display: flex;
  justify-content: center;
  border: 2px solid var(--color-white-50);
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  color: var(--color-white-50);
  cursor: pointer;
}
.p-cart-back span {
  color: var(--color-white-50);
}
.p-cart:hover .p-cart-back,
.p-cart.active .p-cart-back {
  transform: rotateY(0deg);
}
.p-cart:hover .p-cart-front,
.p-cart.active .p-cart-front {
  transform: rotateY(180deg);
}
.p-box img {
  width: 100%;
}
.p-box img.active {
  border: 3px solid var(--color-red);
}
.p-content h6,
.p-content p {
  margin: 0;
  text-align: left;
  margin-top: 5px;
}
.p-content p {
  font-weight: 600;
  color: var(--color-black);
  opacity: 0.8;
}
.p-content h6 {
  color: var(--color-gray-200);
}
.p-content .p-price {
  color: var(--color-red);
  opacity: 0.8;
  font-weight: 700;
}
.order {
  display: flex;
  flex-direction: column;
}
.order h4 {
  margin-bottom: 0;
}
.order p {
  margin-top: 6px;
}
.order-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-check {
  width: 20px;
  height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: 1px solid gainsboro;
  justify-content: center;
  color: var(--color-gray-200);
  border: 1px solid var(--color-gray-200);
  cursor: pointer;
}
.btn-check:hover {
  color: var(--color-black);
  border: 1px solid var(--color-black);
}
.order-Num {
  color: var(--color-red);
  font-weight: 600;
}
.order-price {
  color: var(--color-gray-200);
}
.p-order {
  text-align: left;
}
.p-order span {
  margin-right: 10px;
  display: inline-block;
}
.p-empty {
  color: var(--color-gray-200);
  font-weight: 900;
}
.total-order {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.total-order span:first-child {
  color: var(--color-gray-200);
  font-weight: 500;
}
.total-order span:last-child {
  color: var(--color-black);
}
.total-order + p {
  color: var(--color-gray-200);
  font-size: 120x;
  margin-top: 2rem;
}
.total-order + p span {
  color: var(--color-black);
}
.confirm {
  width: 290px;
  height: 40px;
  border-radius: 20px;
  color: white;
  background-color: var(--color-red);
  border: 0;
  outline: none;
  margin-top: 2rem;
  font-size: 16px;
  cursor: pointer;
}
.orderConfirmation {
  position: absolute;
  content: "";
  background-color: white;
  width: 35%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  padding: 20px;
  z-index: 1;
}
.orderConfirmation h2 {
  color: var(--color-black);
}
.orderConfirmation p {
  text-align: left;
}
.orderConfirm {
  display: flex;
  align-items: center;
}
.orderConfirm img {
  width: 20%;
}
.orderConfirm-price {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: left;
}
.orderConfirm-price h6 {
  margin: 0;
}
.orderConfirm-price .order-Num {
  margin-right: 2rem;
}
@media only screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
    margin: 15px;
    gap: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .p-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .p-list li {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
  .p-list {
    display: block;
    grid-template-columns: 1fr 1fr;
  }
}
